.connector {
    position: absolute;
    pointer-events: none;
}

.conn-close {
    display: none;
}

.conn-close-box {
    cursor: pointer;
}

.conn-line-bg:hover ~ .conn-line,
.conn-close-box:hover ~ .conn-line {
    stroke: orange;
}

.conn-line-bg:hover ~ path,
.conn-close-box:hover ~ path {
    display: block;
}

.conn-close-box:hover + path {
    stroke: #222222;
}

/* venn diagrams */
.grid-venn {
    width: min-content;
    padding: 20px;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}