.h-scrollable-navs {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  height: auto;
}

.h-scrollable-navs::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #bbb;
}

.h-scrollable-navs a {
  white-space: nowrap;
}

.h-scrollable-navs > .nav {
  position: relative;
  border-bottom: 0;
}

.h-scrollable-navs > .nav {
  display: flex;
  overflow: hidden;
}

.h-scrollable-navs > .bshsn-ellipsis,
.h-scrollable-navs > .btn-group {
  display: none;
  align-items: center;
}

.h-scrollable-navs.ellipsis-prev > .bshsn-prev,
.h-scrollable-navs.ellipsis-next > .bshsn-next {
  display: flex;
  color: #333;
  pointer-events: none
}

.h-scrollable-navs.ellipsis-prev > .btn-group,
.h-scrollable-navs.ellipsis-next > .btn-group {
  display: flex;
}

.h-scrollable-navs.ellipsis-prev {
  grid-template-columns: min-content 1fr max-content;
}

.h-scrollable-navs.ellipsis-next {
  grid-template-columns: 1fr min-content max-content;
}

.h-scrollable-navs.ellipsis-prev.ellipsis-next {
  grid-template-columns: min-content 1fr min-content max-content;
}
