html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 10px;
  margin: 15px !important;
  height: calc(100% - 30px);
}

aside {
  background-color: white;
}

main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}

main > section:first-child {
  background-color: white;
}

/* begin */
.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 5px;
}

.nav-wrapper > .nav.nav-tabs {
  position: relative;
  display: flex;
  overflow: hidden;
}

/* .nav-wrapper > .nav.nav-tabs::before {
  content: '･･･';
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background-color: #f5f5f5;
  padding: 0 5px;
} */

.nav-wrapper > ul.nav.nav-tabs::after {
  content: '';
  width: 100%;
  height: -webkit-fill-available;
  z-index: 2;
  background-color: #f5f5f5;
}

.nav-wrapper > .btn-group {
  display: flex;
  align-items: center;
}

.nav-wrapper > .btn-group::before {
  content: '･･･';
  left: -30px;
  width: 30px;
  position: absolute;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}